{% extends 'baseLayout.html.twig' %}
{# swipe.html.twig #}
{% block swipeButtonArgs %}active{% endblock %}
{% block body %}
    <div class="col"></div>
    <article class="card col-8 animated bounceInRight">
        <header>
            <h1>{{ ranking.name }}</h1>
            <div class="row align-items-center">
                <div class="col">
                    <div class="col"><a href="/ranking/upvote/{{ ranking.id }}/0">+</a></div>
                    <div class="col">
                        {{ ranking.votes }}
                    </div>
                    <div class="col"><a href="/ranking/downvote/{{ ranking.id }}/0">-</a></div>
                </div>
                <div class ="col">
                    <a href="{{ path('app_swipe_display_ranking', {'currentRanking': ranking.id}) }}"><img src="{% if ranking.image is not null %}{{asset('uploads/rankingImage/' ~ ranking.image)}}{% else %}{{asset('uploads/placeholder.png' ~ ranking.image)}}{% endif %}" class="cardTopImage rounded-circle mx-auto"/></a>
                    {% if ranking.category is not null %}
                        <p>{{ ranking.category.title }}</p>
                    {% endif %}
                </div>
                <div class="col"></div>
            </div>
        </header>
        <div class="horizontalDivider"></div>
        <main class="cardMain">
            <section>
                <p>
                    {{ ranking.description }}
                </p>
            </section>

            <div class="horizontalDivider"></div>

            <section>
                <ul class="cardElementList">
                    {% for element in ranking.elements|slice(0,5) %}
                        <li class="cardElement {% if loop.first %}firstCardElement{% endif %}"> {{ element.votes }} <img src="{{ asset('uploads/elementImage/') ~ element.image }}"> {{ element.name }} </li>
                    {% endfor %}
                </ul>
            </section>
        </main>
    </article>
    <div class="col"><a href="{{ path('app_swipe_next', {'currentRanking': ranking.id}) }}"><img src="{{asset('img/arrow.png ')}}" id="nextArrow"/></a></div>
{% endblock %}
